<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %><!--users#indexに.paginateメソッドを追加しないと使えない！-->

<ul class="users">
  <%= render @users %><!--Railsではいろいろ推測してくれるので@users.eachがいらない！！-->
</ul>
<%= will_paginate %><!--上下にページネーションをおくと便利！-->
